#container {
    display: flex;
    height: 100%;
    width: 100%;

    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

#editor {
    box-sizing: border-box;

    height: 100%;
    width: calc(50% - 5px);

    margin-right: 10px;
    padding: 1rem;

    border: 1px solid gray;
    border-radius: 0.5rem;

    resize: none;
    overflow: auto;
    scrollbar-width: none;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

#display {
    box-sizing: border-box;

    height: 100%;
    width: calc(50% - 5px);

    padding: 1rem;
    border: 1px solid gray;
    border-radius: 0.5rem;

    white-space: pre-wrap;
    word-wrap: break-word;

    overflow: auto;
    scrollbar-width: none;
}